html, body, iframe, wrapperGameContainer {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
  background-color:black;
}

.msgPanelContent {
    width: 100%;
    margin-top: -2px;
    padding: 0 15px 0 15px;
    font-size: 15px;
    padding-top: 5px;
    background-color: #797878;
    position: absolute;
    display: none;
    text-align: center;
    z-index: 2;
}

#msgPanelContent {
    display: inline-block;
}

.msgPanelButton {
    display: inline-block;
    margin-bottom: 5px;
}

.msgPanelButton a {
    background: grey;
    color: white;
}

.msgPanelButton a:hover {
    background: grey !important;
    color: white !important;
}

@media only screen and (orientation:portrait) {
    #msgPanelBar {
        bottom: 0 !important;
    }
}